{% extends "uploader/header.html" %}

{% block scripts %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'uploader/js/document.js' %}" async></script>
<script type="text/javascript" src="{% static 'uploader/js/amaga.js' %}" async></script>
{% endblock %}

{% block content %}
<h1>Puja exàmens i apunts</h1>
    <h6>Mida màxima: 512 MB.</h6>
    <h6>Formats permesos: pdf.</h6>
<br>
<form method="post" action="/upload/" id="uploader" name="uploader" enctype="multipart/form-data">
    {% csrf_token %}

    <h5>Assignatura:</h5>
    {{ form.assignatura }}

    <h5>Professor:</h5>
    {{ form.professor }}

    <h5>Alumne:</h5>
    {{ form.alumne }}

    <h5>Correu-e alumne:</h5>
    {{ form.email }}

    <h5>Any:</h5>
    {{ form.any }}

    <h5>Quadrimestre:</h5>
    {{ form.quadrimestre }}

    <h5>Tipus de document:</h5>
    {{ form.document }}

    <div id="Examen">
        <h5>Tipus d'examen:</h5>
        <p></p>
        {{ form.parcial_final }}
        <p></p>
        {{ form.tipus_examen }}
        <p></p>
        Solució:
    </div>

    <br>
    <br>
    <div>
        <input type="submit" name="submit" value="Enviar" >
        <input type="reset" value="Reiniciar" onClick="amaga();">
    </div>
</form>
{% endblock %}