.margin-v-small {
	margin-top: 5px;
	margin-bottom: 5px;
}
.margin-v-med {
	margin-top: 30px;
	margin-bottom: 30px;
}
.margin-v-big {
	margin-top: 75px;
	margin-bottom: 75px;
}
.no-h-padding {
	padding-right: 0;
	padding-left: 0;
}
body {
	padding: 30px
}
form {
	display: block;
	margin: 20px auto;
	background: #eee;
	border-radius: 10px;
	padding: 15px
}